.book-page-container {
    background-color: var(--section-background);
}
.BookPage-Header {
    margin: 2vw 6vw 2vw 6vw
}
.BookPage-Body {
   
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: calc(90.33% - 35px);
    margin: auto;
    animation-name: fade;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
          
}
@keyframes fade {
    0% { transform: scale(1); }
  50% { transform: scale(0.8); }
  100% { transform: scale(1); }
  }
