.book-page-container {
  background-color: var(--section-background);
}
.BookPage-Header {
  margin: 2vw 6vw 2vw 6vw;
}
.BookPage-Body {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: calc(90.33% - 35px);
  margin: auto;
  flex-direction: column !important;
  animation-name: fade;
  animation-duration: 0.5s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
}
@keyframes fade {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.btn-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px;
  gap: 20px;
}
.BookPage-button-Artırma {
  background: #30bb6c;
  font-weight: bold;
  border: none;
  cursor: pointer;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  width: 210px;
  height: 40px;
  border-radius: 19px;
  animation: slideLeft4 1.5s ease-in-out forwards;
}
.BookPage-Footer footer {
  width: 89%;
  margin-left: 5.2vw;
}

.BookPage-button-Azaltma {
  background: #e3bb1d;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  width: 210px;
  height: 40px;
  border-radius: 19px;
  animation: slideLeft5 1.5s ease-in-out forwards;
}
@keyframes slideLeft4 {
  0% {
    transform: translateX(400%); /* başlangıç konumu */
    opacity: 0.1;
  }
  100% {
    transform: translateX(0%); /* bitiş konumu */
    opacity: 1;
  }
}
@keyframes slideLeft5 {
  0% {
    transform: translateX(-400%); /* başlangıç konumu */
    opacity: 0.1;
  }
  100% {
    transform: translateX(0%); /* bitiş konumu */
    opacity: 1;
  }
}
