.chapters-wraper {
    grid-area: a;
    border-radius: 4px;
    background-color: #ffffff;
    position: relative;
  }
  
aside a {
     font-size: 20px;
     text-decoration: none; 
     padding: 10px; 
     display: block;
     color:#333;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     position: relative;
     transition: 0.3s;
  
  }

 aside a:hover::after {
  padding-left:20px;
  content: "";
  position: absolute;
  height: 5%;
  width: 80%;
  left: 5px;
  bottom: 0;
  background-color: var(--main-color-alt);
  
 }
aside a:hover {
  padding-left:20px;
 }
aside h2 {
  color: var(--main-color);
  text-align: center;
  
}
.book-icon {
  position: absolute;
  right: 0;
  margin-right: 10px;
  color: var(--main-color-alt);
  transform: skew(-12deg,5deg);

}