* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100dvh;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  position: relative;
}

.props-main-box {
  min-height: 100%;
  scale: 0.65;
  padding: 50px 0;
  width: 50%;
  transform: perspective(1000px);
  background-color: #fff;
  border-radius: 0.7rem;
  -webkit-border-radius: 0.7rem;
  -moz-border-radius: 0.7rem;
  -ms-border-radius: 0.7rem;
  -o-border-radius: 0.7rem;
  box-shadow: inset -1px -1px 5px rgba(0, 0, 0, 0.1),
    inset 1px 1px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -15%;
  left: 25%;
  -webkit-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  -ms-transform: perspective(1000px);
  -o-transform: perspective(1000px);
}

@media (max-width: 567px) {
  .props-main-box {
    top: 0;
    width: 100%;
  }
  [font_family_box_box] {
    gap: 1rem;
  }

  [font_family_box] span {
    min-height: 4.5rem;
  }
}
.sub-box {
  width: 85%;
  height: 14rem;
  box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.2), 1px 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 0.75rem;
  -webkit-border-radius: 0.75rem;
  -moz-border-radius: 0.75rem;
  -ms-border-radius: 0.75rem;
  -o-border-radius: 0.75rem;
  padding: 1rem;
  background: rgb(0, 255, 222);
  background: linear-gradient(
    90deg,
    rgba(0, 255, 222, 1) 0%,
    rgba(131, 213, 223, 1) 100%
  );
  position: relative;
}

.sub-box h2 {
  font-family: system-ui;
  margin-top: -10px;
  font-size: 1.7rem;
  width: 100%;
  text-align: center;
}

.sub-box span {
  position: relative;
}

.sub-box h2 span::after {
  content: '';
  display: block;
  width: 100%;
  height: 0.15rem;
  background-color: black;
  position: absolute;
  bottom: -10px;
  left: 0;
  opacity: 0.5;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.sub-box:hover span::after {
  width: 200%;
  opacity: 1;
  transform: translateX(-25%);
  -webkit-transform: translateX(-25%);
  -moz-transform: translateX(-25%);
  -ms-transform: translateX(-25%);
  -o-transform: translateX(-25%);
}

.sub-box .items-box:not([font_family_box]) {
  width: 95%;
  height: 8rem;
  margin: auto;
  padding: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: inherit;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  align-items: center;
  align-content: center;
  gap: 20px;
}

.sub-box .items-box:not([font_family_box]) span {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

[font_family_box] {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 95%;
  height: 9rem;
  margin: 15px auto;
  overflow-y: scroll;
  background-color: #fff;
}

[font_family_box] span {
  width: 95%;
  margin: auto;
  /* min-height: 4.5rem; */
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  overflow: hidden;
  font-size: 24px;
  display: flex;
  position: relative;
}

@media (min-width: 568px) {
  [font_family_box] span {
    min-height: 3rem;
  }
}

::-webkit-scrollbar {
  display: none;
}

[font_family_box] span::before {
  content: '';
  width: 0%;
  height: 0.7rem;
  background-color: black;
  position: absolute;
  bottom: -10px;
  transition: width 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: width 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: width 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: width 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: width 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

[font_family_box] span:hover::before {
  width: 100%;
}

.font-box {
  position: relative;
}

.font-box::after {
  content: 'please scroll to show another fonts';
  height: 40px;
  width: 90%;
  position: absolute;
  top: -25%;
  left: 50%;
  transform: translate(-50%, 75%);
  -webkit-transform: translate(-50%, 75%);
  -moz-transform: translate(-50%, 75%);
  -ms-transform: translate(-50%, 75%);
  -o-transform: translate(-50%, 75%);
  padding: 0 15px;
  text-align: center;
  background-color: #999;
  font-family: sans-serif;
  font-size: 24px;
  line-height: 1.5;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  opacity: 0;
  transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  color: white;
}

.font-box:hover:after {
  transform: translate(-50%, 0%);
  opacity: 1;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
}

.sub-box .items-box span:hover {
  opacity: 1 !important;
}

.closing-icon {
  position: absolute;
  right: 5%;
  top: 2.5%;
  font-size: 30px;
  color: var(--main-color-alt);
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  -ms-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.closing-icon:hover {
  scale: 1.25;
  cursor: pointer;
}

span.active {
  opacity: 1 !important;
}

.reset {
  padding: 10px 2rem;
  color: var(--main-color-alt);
  border: none;
  border-radius: 0.25rem !important;
  -webkit-border-radius: 0.25rem !important;
  -moz-border-radius: 0.25rem !important;
  -ms-border-radius: 0.25rem !important;
  -o-border-radius: 0.25rem !important;
  font-size: 1.35rem;
  cursor: pointer;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) all 1s;
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) all 1s;
  -moz-transition: cubic-bezier(0.075, 0.82, 0.165, 1) all 1s;
  -ms-transition: cubic-bezier(0.075, 0.82, 0.165, 1) all 1s;
  -o-transition: cubic-bezier(0.075, 0.82, 0.165, 1) all 1s;
}

.reset:hover {
  color: white;
  background-color: var(--main-color-alt);
  scale: 0.9;
}

select {
  width: 100%;
  grid-column: 1 / span 4;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #f2f2f2;
  font-size: 16px;
  color: #333;
}
