.word-page-parent {
  min-height: 100vh;
  background-color: var(--section-background);
  display: grid;
  grid-template-columns: 25px repeat(2, 1fr) 25px repeat(5, 1fr) 25px;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    '. nav nav nav nav nav nav nav nav .'
    '. vNav vNav . title title title title title .'
    '. vNav vNav . cont cont cont cont cont .';
  gap: 20px;
}
.title {
  grid-area: title;
  margin-top: 20px;
}

.word-page-parent > nav {
  grid-area: nav;
  margin-left: 0%;
  margin-top: 5px;
}

.word-page-wraper {
  grid-area: cont;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.vertical-navbar-layout {
  grid-area: vNav;
 
}
.word-page-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--main-color-alt);
  color: var(--main-color-screen);
  font-size: 18px;
  margin-bottom: 20px;
  border-radius: 7px;
  width: 21vw;
}

.word-page-child button {
  font-size: 20px;
  color: var(--main-color-screen);
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
@media screen and (max-width: 890px) {
  .word-page-parent {
    grid-template-columns: 10px repeat(2, 1fr) 10px repeat(5, 1fr) 10px;
    grid-template-areas:
      '. nav nav nav nav nav nav nav nav .'
      '. vNav vNav . title title title title title .'
      '. vNav vNav vNav . cont cont cont cont .';
  }
}
@media (max-width: 750px) {
  .word-page-parent {
    grid-template-columns: 0px repeat(8, 1fr) 0px;
    grid-template-rows: auto auto  auto 1fr;
    grid-template-areas:
      '. nav nav nav nav nav nav nav nav .'
      '. vNav vNav  vNav  vNav  vNav vNav vNav vNav .'
      '. title title title title title title title title .'
      '. cont cont cont  cont  cont cont cont cont .';
     
  }
  .vertical-navbar-layout {
    height: fit-content !important;
    width: 100% !important;
    top: 0 !important;
  }
  .title {
    position: sticky;
    top: 170px;
  }
  .vertical-navbar-layout button:first-child {
      padding-top: 25px;
  }

}

@media (max-width: 768px) {
  .word-page-wraper {
    grid-area: cont;
    display: flex;
    flex-flow: wrap;
  }

  .word-page-wraper div {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .word-page-wraper {
    align-content: baseline;
  }
}
