.content-main {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: relative;
  font-family: "Alkatra", cursive;
}
.main-image {
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  height: 100px;
  /*background-color: #8bc34a;
  */
  box-shadow: inset -1px -1px 5px rgba(4, 190, 94, 0.5);
  border-radius: 60%;
  -webkit-border-radius: 60%;
  -moz-border-radius: 60%;
  -ms-border-radius: 60%;
  -o-border-radius: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-image img {
  mix-blend-mode: darken;
  animation: moving alternate infinite 1s;
  -webkit-animation: moving alternate infinite 1s, ray alternate infinite 1s;
  transition: all 0.35s ease-out;
  -webkit-transition: all 0.35s ease-out;
  -moz-transition: all 0.35s ease-out;
  -ms-transition: all 0.35s ease-out;
  -o-transition: all 0.35s ease-out;
  width: 75px;
  aspect-ratio: 1 / 1;
}

.main-image img:hover {
  scale: 1.2;
}

@keyframes moving {
  from {
    transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
  }
  to {
    transform: translateY(2px);
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
  }
}

.text-box {
  width: 70%;
  height: 70%;
  padding: 10px 20px;
  background: rgb(34, 193, 195);
  background: radial-gradient(
    circle,
    rgba(34, 193, 195, 1) 0%,
    rgba(100, 191, 150, 1) 100%
  );
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5), -1px -1px 5px rgba(0, 0, 0, 0.5);
  position: relative;
  transition: all 0.35s ease;
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -ms-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
}

.text-box .footer-row {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  position: absolute;
  bottom: 5%;
  left: 5%;
}
.text-box p {
  text-align: center;
}

.text-box a {
  width: 100px;
  padding: 15px 10px;
  cursor: pointer;
  text-decoration: none;
  background-color: gray;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  flex-grow: 1;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}

.text-box a:hover {
  scale: 1.05;
  letter-spacing: 0px;
}

.text-box a:first-child {
  background-color: #8bc34a;
}
.text-box a:nth-child(2) {
  background-color: #4caf50;
}
.text-box a:nth-child(3) {
  background-color: #26a69a;
}

@media (max-width: 1200px) {
  .text-box {
    width: 90%;
  }

  .main-image {
    width: 75px;
    height: 75px;
  }
}

@media (max-width: 768px) {
  .text-box {
    height: 90%;
  }
  .text-box a {
    padding: 5px 10px;
  }
  .main-image {
    display: none !important;
  }
}

@media (max-width: 576px) {
  .text-box {
    height: 95%;
  }
  .text-box a {
    scale: 0.75;
  }
  .text-box .footer-row {
    bottom: 1% !important;
    justify-content: center !important;
    gap: 0;
  }
}

.text-box::after {
  content: "";
  width: 90%;
  height: 20px;
  border-radius: 50%;
  left: 5%;
  position: absolute;
  bottom: -50px;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 1;
  filter: blur(10px);
  -webkit-filter: blur(10px);
}

.text-box:hover {
  scale: 1.05;
}
