/* kartlar */
.card-container {
  height: 360px;
  width: 200px;
  background-color: #ffffff;
  font-size: 15px;
  padding: 20px;
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 7px;
  position: relative;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
  transition: 0.3s;
}
.card-container:hover {
  transform:scale(1.02) ;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}

.card-container .book-img{
  border-radius: 7px;
  height: 208px;
  width: 137px;
  padding: 2px;
  border: 1px solid #dadde1
  
}
.card-container .writer-img{
  height: 34px;
  width: 34px;
  border-radius: 17px;
  position: absolute;
  left: 50%;
  top: 57%;
  margin-left: -17px;
  padding: 1px;
  border: 1px solid #dadde1
}
.card-container p {
  color: var(--main-color-alt);
}
a h4 {
  color: #333;

}