/* kartlar */
.card-container {
  height: 330px;
  width: 160px;
  background-color: #ffffff;
  padding: 20px;
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 7px;
  position: relative;
}

.card-container .book-img{
  border-radius: 7px;
  height: 208px;
  width: 137px;
  
}
.card-container .writer-img{
  height: 34px;
  width: 34px;
  border-radius: 17px;
  position: absolute;
  left: 50%;
  top: 52%;
  margin-left: -17px;
}