.layout {
  display: grid;
  grid-template-columns: 100px repeat(10, 1fr) 100px;
  grid-template-rows: 75px 500px 2fr 220px;
  background-color: #f1f1f1;
  grid-template-areas:
    ". header header header header header header  header header header header ."
    ". content-main content-main content-main content-main content-main content-main  content-main content-main content-main content-main ."
    ". s s s s s s s s a a . "
    "f f f f f f f f f f f f ";
  gap: 15px 10px;
}

nav {
  grid-area: header;
}
.content-main {
  grid-area: content-main;
}
section {
  grid-area: s;
}
.parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.layout-footer{
  grid-area: f;
  
}
@media (max-width: 1200px) {
  .layout {
    grid-template-columns: 50px repeat(10, 1fr) 50px;
    grid-template-rows: 75px 600px auto 220px;
    grid-template-areas:
      ". header header header header header  header header header header header ."
      ". content-main content-main content-main content-main content-main content-main  content-main content-main content-main content-main ."
      ". s s s s s s s a a a . "
      "f f f f f f f f f f f f ";
  }
}
@media (max-width: 1115px) {
  .layout-footer{
    width: 105.7%;
    margin-left: -2.2vw;
  }
}
@media (max-width: 992px) {
  .layout {
    grid-template-rows: 75px minmax(300px, 1fr) auto auto 236px;
    grid-template-areas:". header header header header header  header header header header header ."
      ". content-main content-main content-main content-main content-main content-main  content-main content-main content-main content-main ."
      ". s s s s s s s s s s . "
      ". a a a a a a a a a a ."
      "f f f f f f f f f f f f ";
  }
  .layout-footer{
    width: 104.1%;
    margin-left: -1.7%;
  }
}

@media (max-width: 768px) {
  .layout {
    grid-template-columns: 50px repeat(10, 1fr) 25px;
    grid-template-rows: auto 300px auto auto auto;
    grid-template-areas:
      ". header header header header header  header header header header header ."
      ". content-main content-main content-main content-main content-main content-main  content-main content-main content-main content-main ."
      ". s s s s s s s s s s . "
      ". a a a a a a a a a a ."
      "f f f f f f f f f f f f ";
  }
  .layout-footer{
    width: 104%;
    margin-left: 0%;
  }
}
@media (max-width: 576px) {
  .parent {
    justify-content: center;
  }
  .layout {
    grid-template-columns: 25px repeat(10, 1fr) 25px;
    grid-template-rows: auto 375px auto auto 255px;
  }
  @media (max-width: 576px){
    .layout-footer .footer-bottom {
      width: 87.6vw;
  }
  }

}
