.layout {
  display: grid;
  grid-template-columns: 100px repeat(10, 1fr) 100px;
  grid-template-rows: 75px 500px 1fr 220px;
  background-color: #f1f1f1;
  grid-template-areas:
    ". header header header header header header  header header header header ."
    ". content-main content-main content-main content-main content-main content-main  content-main content-main content-main content-main ."
    ". s s s s s s s s a a . "
    ". f f f f f f f f f f . ";
  gap: 15px 10px;
}

nav {
  grid-area: header;
}
.content-main {
  grid-area: content-main;
}
section {
  grid-area: s;
}
.parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .layout {
    grid-template-columns: 50px repeat(10, 1fr) 50px;
    grid-template-rows: 75px 600px 1fr 220px;
    grid-template-areas:
      ". header header header header header  header header header header header ."
      ". content-main content-main content-main content-main content-main content-main  content-main content-main content-main content-main ."
      ". s s s s s s s a a a . "
      ". f f f f f f f f f f . ";
  }
}
@media (max-width: 992px) {
  .layout {
    grid-template-rows: 75px minmax(fit-content, 1fr) auto 200px;
    grid-template-areas:
      ". header header header header header  header header header header header ."
      ". content-main content-main content-main content-main content-main content-main  content-main content-main content-main content-main ."
      ". s s s s s s s s s s . "
      ". a a a a a a a a a a ."
      ". f f f f f f f f f f . ";
  }
}

@media (max-width: 768px) {
  .layout {
    grid-template-columns: 50px repeat(10, 1fr) 25px;
    grid-template-rows: auto 300px auto auto;
    grid-template-areas:
      ". header header header header header  header header header header header ."
      ". content-main content-main content-main content-main content-main content-main  content-main content-main content-main content-main ."
      ". s s s s s s s s s s . "
      ". a a a a a a a a a a ."
      ". f f f f f f f f f f . ";
  }
}
@media (max-width: 576px) {
  .parent {
    justify-content: center;
  }
  .layout {
    grid-template-columns: 25px repeat(10, 1fr) 25px;
    grid-template-rows: auto 375px auto 200px;
  }
}
