.register-wraper {
	background: linear-gradient(to right, #45b09e 50%, white 50%);
	overflow: hidden;
	height: 100vh;
		
}
.form-register-container {
	background-color: rgb(255, 255, 255,0,8);
    border-radius: var(--border-redius-main);
    box-shadow: 
	calc(var(--box-shadow-main) - 60px) 
	var(--box-shadow-main)
	var(--box-shadow-main)
	rgba(0,0,0,0.2);
    max-width: fit-content;
    margin: calc(var(--margin-main) + 96px) auto;
    padding: 
	calc(var(--padding-main) + 11px) 
	calc(var(--padding-main) + 13px) 
	calc(var(--padding-main) + 13px) 
	calc(var(--padding-main) + 13px) 
}
.register-img {
	
	width: calc(var(--width-main) - 160px) ;
	height: calc(var(--height-main) - 10px);
	margin: 
	calc(var(--margin-main) - 4px) 
	calc(var(--margin-main) - 10px) 
	calc(var(--margin-main) + 27px) 
	calc(var(--margin-main) + 229px);
    padding: calc(var(--padding-main) - 4px);
	animation: slideLeft1 1.5s ease-in-out forwards;
	
}
@keyframes slideLeft1{
	0% {
		transform: translateY(-400%); /* başlangıç konumu */
		opacity: calc(var(--opacity-main) - 0.9);
	}
	100% {
		transform: translateY(-5%); /* bitiş konumu */
		opacity: var(--opacity-main);
	}
} 
.register-container {
width: calc(var(--width-main) + 350px);
margin-left: calc(var(--margin-main) + 20px);
}


.register-form {
	display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
	padding-top: calc(var(--padding-main) - 2px);
    padding-bottom: calc(var(--padding-main) + 30px);
    margin: 
	calc(var(--margin-main) - 30px)
	calc(var(--margin-main) + 22px) 
	calc(var(--margin-main) + 27px) 
	calc(var(--margin-main) + 60px);
    animation: slideLeft2 1.5s ease-in-out forwards;
}
@keyframes slideLeft2{
    0% {
		transform: translateX(-200%); /* başlangıç konumu */
		opacity: calc(var(--opacity-main) - 0.9);
    }
    100% {
		transform: translateX(-5%); /* bitiş konumu */
		opacity: var(--opacity-main);
    }
} 

.register-label {
	display: block;
	margin-bottom: calc(var(--margin-main) - 5px);
	color: #000000;
}

.register-input{
	border: calc(var(--border-main) - 8px) solid #cccccc;
	border-radius: var(--border-redius-main);
	padding: var(--padding-main);
	width: 100%;
}


.register-button {
	background: linear-gradient(to right, #45b09e -103vw, white 128vw);
    font-weight: bold;
	border: #45b09e;
    cursor: pointer;
    font-size: var(--font-size-main);
    padding: var(--padding-main);
    text-align: center;
    text-decoration: none;
	position: absolute;
    bottom: calc(var(--bottom-main) + 2px);
    right: var(--right-main);
    width: var(--width-main);
    margin: 
	calc(var(--margin-main) - 3px)
	calc(var(--margin-main) + 5px);
    animation: slideLeft3 1.5s ease-in-out forwards;
}

@keyframes slideLeft3 {
    0% {
		transform: translateX(1000%); /* başlangıç konumu */
		opacity: calc(var(--opacity-main) - 0.9);
    }
    100% {
		transform: translateX(58%); /* bitiş konumu */
		opacity: var(--opacity-main);
    }
} 

@media screen and (max-width: 780px) {
    .register-wraper {
		height: 97.5vh;
	}
	.register-wraper {
		overflow: hidden;
		padding: calc(var(--padding-main) + 7px);
	}
	.form-register-container {
		max-width: 100%;
		margin: 2.7vw auto !important;
	}
	.form-container {
		width: 90%;
		margin: calc(var(--margin-main) + 40px) auto;
	}
	/*------------------------------------------------------------------------*/
	.register-form {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 20px;
		padding-top: calc(var(--padding-main) - 13px);
		margin: 
		calc(var(--margin-main) - 22px) 
		calc(var(--margin-main) + 28px) 
		calc(var(--margin-main) + 15px) 
		calc(var(--margin-main) + 26px);
		
	}
	
	.register-container {
		width: 100%;
		margin-left: calc(var(--margin-main) + 10px);
	}
	
	
	.register-button {
		margin-top: 1rem;
		width: 100%;
		max-width: 39%;
		position: absolute;
		left: 5vw;
		bottom: calc(var(--bottom-main) + 4px);
	}
	.register-img {
		width: auto;
		height: 16.5vw;
		margin: -2.7vw 2.7vw;
		transform: translateX(30vw)!important;
		animation: slideLeft1 1.5s ease-in-out forwards;
	}
	body {
		overflow: scroll;
	}
	
}

@media only screen and (max-width: 700px){
	.form-register-container {
		margin: -1.8vw auto !important;
	}
	.register-img {
		margin: 1.8vw 1.5vw;
	}
	
}

@media only screen and (max-width: 575px) {
    .register-img {
		margin: 0.8vw -0.9vw;
	}
	.register-button {
		left: 4vw;
		bottom: var(--bottom-main);
	}
	
	.register-form {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 20px;
		padding-top: calc(var(--padding-main) - 2px);
		margin: 
		calc(var(--margin-main) - 31px)
		calc(var(--margin-main) - 10px) 
		calc(var(--margin-main) + 17px) 
		calc(var(--margin-main) - 10px);
		animation: slideLeft2 1.5s ease-in-out forwards;
	}
	.form-register-container {
		margin: 1.4vw auto !important;
	}
}

@media screen and (max-width: 450px){
	.register-img {
		margin: 2.2vw -4.1vw;
		
	}
	.register-button {
		left: 1vw;
		bottom: var(--bottom-main);
	}
}
@media screen and (max-width: 375px){
	.register-img {
		margin: 2.2vw -8vw;
	}
	.register-button {
		left: -1vw;
		bottom: var(--bottom-main);
	}
}

.popup {
	position: fixed;
	top: var(--top-main);
	left: var(--left-main);
	padding: var(--padding-main);
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 9;
	display: flex;
	justify-content: center;
	align-items: baseline;
}

.popup-content {
	background: var(--section-background);
	padding: calc(var(--padding-main) + 10px);
	border-radius: 8px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	width: 32%;
	
}

.popup-text {
	font-size: calc(var(--font-size-main) - 3px);
    font-weight: bold;
    margin-bottom: calc(var(--margin-main) + 4px);
}

.popup-button {
	background: var(--main-color);
	color: #fff;
	padding: var(--padding-main) calc(var(--padding-main) + 5px);
	border: none;
	border-radius: calc(var(--border-redius-main) - 2px);
	cursor: pointer;
	transition: 0.3s ease;
}

.popup-button:hover {
	background: var(--main-color-alt);
}




