.login-wraper {
	background: linear-gradient(to right, #45b09e 50%, white 50%);
	display: grid;
	grid-auto-rows: minmax(100px,auto);
	grid-template-areas: 
	"container container container container container"
;
	justify-items: center;
	align-items: center;
	gap: var(--gap-main) var(--gap-main);
	height: calc(var(--height-vh-main) + 100vh);
	overflow: hidden;   
}
.form-login-container {
	background-color: rgb(255, 255, 255,0,8);
    border-radius: var(--border-redius-main);
    box-shadow: 
	calc(var(--box-shadow-main) - 60px) 
	var(--box-shadow-main)
	var(--box-shadow-main)
	rgba(0,0,0,0.2);
	grid-area: container;
	display: grid;
	grid-auto-rows: minmax(100px,auto);
	grid-template-areas: 
	"login-container login-container login-container login-container login-container"
	;
	justify-items: center;
	align-items: center;
	gap: var(--gap-main) var(--gap-main);
	height: calc(var(--height-vh-main) + 56vh);
}
.login-container {
	grid-area: login-container;
	display: grid;
	grid-template-areas: 
	"img img img img img"
	"form form form form form"
	;
	justify-items: center;
	align-items: center;
	gap: var(--gap-main) var(--gap-main);
    height: calc(var(--height-vh-main) + 50vh);
    width: calc(var(--width-vw-main) - 30vw);
}
.login-img {
	justify-items: center;
	align-items: start;
	height: calc(var(--height-main) - 10px);;
	width: calc(var(--width-main) - 160px);
	grid-area: img;
	animation: slide1 1.5s ease-in-out forwards;
}
@keyframes slide1{
	0% {
		transform: translateY(-400%); /* başlangıç konumu */
		opacity: calc(var(--opacity-main) - 0.9);
	}
	100% {
		transform: translateY(-5%); /* bitiş konumu */
		opacity: var(--opacity-main);
	}
} 
.login-form {
	grid-area: form;
	display: grid;
	grid-auto-rows: minmax(50px,60px);
	grid-template-areas: 
	"label1 label1 input1 input1 input1"
	"label2 label2 input2 input2 input2"
	". button button button  ."
	;
	justify-items: center;
	align-items: center;
	gap: calc(var(--gap-vh-main) - 13vh) calc(var(--gap-vw-main) - 2.5vw);;
    height: calc(var(--height-vh-main) + 29vh);
	animation: slide2 1.5s ease-in-out forwards;	
}
@keyframes slide2{
    0% {
		transform: translateX(-200%); /* başlangıç konumu */
		opacity: calc(var(--opacity-main) - 0.9);
    }
    100% {
		transform: translateX(0%); /* bitiş konumu */
		opacity: var(--opacity-main);
    }
} 
.login-label-1 {
	grid-area: label1;
}
.login-label-2 {
	grid-area: label2;
}
.login-label-1,.login-label-2 {
	height: calc(var(--height-vh-main) + 5vh);
	color: var(--main-color-alt-2);
	font-family: cursive;
	
}
.login-input-1{
	grid-area: input1;
}
.login-input-2{
	grid-area: input2;
}
.login-input-1,.login-input-2 {
    height: 5vh;
	color: var(--main-color-alt-2);
	font-family: cursive;
	border: calc(var(--border-main) - 8px) solid #cccccc;
	border-radius: var(--border-redius-main);
	padding:  calc(var(--padding-main) + 7px);
	width: calc(var(--width-precentage-main) + 5%);
}
.login-button {
	grid-area: button;
	color: var(--main-color-alt-2);
	background: linear-gradient(to right, #45b09e -103vw, white 128vw);
    font-weight: bold;
	font-family: cursive;
	border: #45b09e;
	border-radius: calc(var(--border-redius-main) - 4px);
    cursor: pointer;
    font-size: var(--font-size-main);
	width: var(--width-main);
	padding: var(--padding-main);
	animation: slide3 calc(var(--main-transition) + 1.2s) ease-in-out forwards;
	margin-top: calc(var(--margin-vh-main) + 1.2vh);
}
@keyframes slide3 {
    0% {
		transform: translateX(800%); /* başlangıç konumu */
		opacity: calc(var(--opacity-main) - 0.9);
    }
    100% {
		transform: translateX(-2%); /* bitiş konumu */
		opacity: var(--opacity-main);
    }
} 
.login-popup {
	position: fixed;
    top: 0px;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: start;
	
}
.login-popup-content {
	background: var(--section-background);
	padding: calc(var(--padding-main) + 10px);
	border-radius: 8px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	width: 32%;
	animation: slideLogin 1s ease-in-out forwards;
}
@keyframes slideLogin{
	0% {
		transform: translateY(-100%); /* başlangıç konumu */
		opacity: calc(var(--opacity-main) - 0.9);
	}
	100% {
		transform: translateX(-105%); /* bitiş konumu */
		opacity: var(--opacity-main);
	}
}
.login-popup-text {
	font-size: calc(var(--font-size-main) - 3px);
    font-weight: bold;
    margin-bottom: calc(var(--margin-main) + 4px);
}

.login-popup-button {
	background: var(--main-color);
	color: #fff;
	padding: var(--padding-main) calc(var(--padding-main) + 5px);
	border: none;
	border-radius: calc(var(--border-redius-main) - 2px);
	cursor: pointer;
	transition: 0.3s ease;
}


@media screen and (max-width: 1115px) {
    .login-container {
		width: calc(var(--width-vw-main) - 20vw);
	}
	.login-form {
		gap: calc(var(--gap-vh-main) - 13vh) calc(var(--gap-vw-main) - 0.3vw);
		
	}
	.login-img {
		margin-right: calc(var(--margin-vw-main) - 20.9vw)
	}
	
}

@media screen and (max-width: 966px) {
    .login-container {
		width: var(--width-vw-main);
	}
	.login-form {
		gap: calc(var(--gap-vh-main) - 13vh) calc(var(--gap-vw-main) + 4.5vw);
	}
}

@media screen and (max-width: 700px){
	.form-login-container {
		height: calc(var(--height-vh-main) + 65vh)
	}
    .login-container {
		gap: calc(var(--main-gap) - 10px) calc(var(--main-gap) - 10px);
		width: calc(var(--width-vw-main) + 10vw)
	}
	.login-form {
		grid-template-areas:
			"label1 label1 . . ."
			"input1 input1 input1 input1 input1"
			"label2 label2 . . ."
			"input2 input2 input2 input2 input2"
			". button button button . ";
			display: grid;
			justify-items: start;
	        align-items: center;
			gap: calc(var(--gap-vh-main) - 15vh) calc(var(--gap-vw-main) + 5vw);
			height: calc(var(--height-vh-main) + 37vh);
	}
	.login-input-1 , .login-input-2{
		width: calc(var(--width-precentage-main) + 25%);
		
	}
	.login-label-1, .login-label-2 {
		height: calc(var(--height-vh-main) + 2vh);
		display: grid;
	}
	.login-button {
		width: calc(var(--width-precentage-main) + 125%);
		margin-left: calc(var(--margin-vw-main) - 39.5vw);
		margin-top: calc(var(--margin-vh-main) + 6vh);
	}
}




