.quote-page-layout {
    min-height: 100vh;
    display: grid;
    grid-template-columns:25px repeat(2, 1fr) 25px repeat(5, 1fr) 25px;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    ". vNav vNav . title title title title title ."
    ". vNav vNav . cont cont cont cont cont .";
    gap: 20px;
    background-color: var(--section-background);
}
.title {
    grid-area:title;
}
.quote-page-wraper {
    grid-area: cont;
}
.quote-page-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--main-color-alt);
    color: var(--main-color-screen);
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 7px;
}
.quote-page-child button{
   font-size: 20px;
    color: var(--main-color-screen);
    background-color: transparent;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}
.vertical-navbar-layout {
    grid-area: vNav;
}
@media screen and (max-width: 890px) {
    .quote-page-layout {
        grid-template-columns: 20px repeat(3, 1fr) 10px repeat(4, 1fr) 20px;
        grid-template-areas: 
        ". vNav vNav vNav . title title title title ."
        ". vNav vNav vNav . cont cont cont cont .";
    }
}
@media screen and (max-width: 740px) {
    .quote-page-layout {
        grid-template-columns: 20px repeat(4, 1fr) 20px;
        grid-template-rows: auto auto 1fr;
        grid-template-areas: 
        ". title title title title ."
        ". vNav vNav vNav vNav ."
        ". cont cont cont cont .";
    }
}